
.blog-add-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-family: poppins, sans-serif;

}

.input-box {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 15px;
}

.textarea-box {
  width: 100%;
  height: 100px;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: poppins, sans-serif;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.cover-preview {
  width: 250px;
  margin-top: 10px;
  border-radius: 8px;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}


.toolbar button{
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}
.upload-btn {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.editor-box {
  border: 1px solid #ccc;
  min-height: 250px;
  padding: 15px;
  border-radius: 8px;
  background: white;
  margin-bottom: 20px;
}

.publish-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}
