.footer-section{
    display: flex;
    justify-content: center;
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: grey;
    padding: 20px 0;
    background-color: rgb(239, 238, 238);
    
}

.footer-copyright-link{
    text-decoration: none;
}

