@import url("https://api.fontshare.com/v2/css?f[]=switzer@300,400,500,600,700,800&display=swap");

.home-section {

    width: 100%;
    min-height: 100vh;
    /* use min-height so content can grow */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    color: #333;
    padding: 50px 0;
}

.blog-card {
    width: 1000px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: left;
    align-items: center;
    display: flex;
    gap: 50px;
    border-bottom: 1px solid #d2d2d2;

}

.blog-content {
    flex: 2;
    /* width: 70%; */
}

.blog-image-container {
    flex: 1;
    height: 180px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center
}

.blog-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-content h2 {
    margin-top: 0;
    color: #333;
    /* font-family: 'Switzer', sans-serif; */
    font-family: poppins, sans-serif;
    font-size: 1.6em;
    font-weight: 700;
}

.blog-content p {
    margin-top: 10px;
    color: #666;
    font-family: poppins, sans-serif;
    font-size: 16px;

}